body
{
	background-image: url("./images/background.jpg");
	background-size: 1400px 1000px;
	background-repeat: no-repeat;
}

#header
{
	text-align: center;
	font-size: 30pt;
	font-family: Verdana, Geneva, sans-serif;
}

p.para
{
	padding: 10px 115px 15px 115px;
	font-size: 16pt;
	font-family: Verdana, Geneva, sans-serif;
	text-indent: 50px;
}

#mySidenav a
{
	position: absolute; /* Position them relative to the browser window */
	left: -80px; /* Position them outside of the screen */	
	transition: 0.3s; /* Add transition on hover */
	padding: 15px; /* 15px padding */
	width: 100px; /* Set a specific width */
	text-decoration: none; /* Remove underline */
	font-size: 17.35px; /* Increase font size */
	color: white; /* White text color */
	border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}

#mySidenav a:hover 
{
	left: 0; /* On mouse-over, make the elements appear as they should */
}

/* The about link: 20px from the top with a green background */
#home
{
	top: 20px;
	background-color: #4CAF50;
	font-family: Verdana, Geneva, sans-serif;
}

#history
{
	top: 80px;
	background-color: #2196F3;
	font-family: Verdana, Geneva, sans-serif;
}


#process
{
	top: 140px;
	background-color: #f44336;
	font-family: Verdana, Geneva, sans-serif;
}

#types
{
	top: 200px;
	background-color: #ff7100;
	font-family: Verdana, Geneva, sans-serif;
}
