body
{
	background-image: url("./images/melting-chocolate.jpg");
	background-repeat: no-repeat;
	background-size: 1600px 900px;
	background-attachment: fixed;
}

ol
{
	padding: 10px 110px 15px 122px;
	font-size: 16pt;
	font-family: Verdana, Geneva, sans-serif;
	color: white;
}

ul.flav
{
	padding: 10px 110px 15px 122px;
	font-size: 16pt;
	font-family: Verdana, Geneva, sans-serif;
	color: white;
}

#ref
{
	padding: 10px 110px 15px 122px;
	font-size: 16pt;
	font-family: Verdana, Geneva, sans-serif;
	color: white;
}

#header
{
	text-align: center;
	font-size: 30pt;
	font-family: Verdana, Geneva, sans-serif;
	color: white;
}

#hazelnut
{
	margin: auto;
	display: block;
	width: 400px;
}

#orange
{
	margin: auto;
	display: block;
	width: 400px;
}

#ferrero
{
	margin: auto;
	display: block;
	width: 400px;
}

#ghirardelli
{
	margin: auto;
	display: block;
	width: 400px;
}

#imgcrd
{
	padding: 10px 110px 15px 122px;
	font-size: 16pt;
	font-family: Verdana, Geneva, sans-serif;
	color: white;
}

p.para
{
	padding: 10px 110px 15px 122px;
	font-size: 16pt;
	font-family: Verdana, Geneva, sans-serif;
	color: white;
	text-align: justify;
}

a.goto
{
	color: red;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16pt;
	padding: 10px 110px 15px 122px;
}

a.goto1
{
	color: red;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16pt;
	padding: 10px 110px 15px 122px;
}

h3.sub
{
	padding: 10px 110px 15px 122px;
	font-family: Verdana, Geneva, sans-serif;
	color: white;
}

#mySidenav a
{
	position: fixed;
	left: -80px;
	transition: 0.3s;
	padding: 15px;
	width: 100px;
	text-decoration: none;
	font-size: 17.35px;
	color: white;
	border-radius: 0 5px 5px 0;
}

#mySidenav a:hover 
{
	left: 0;
}

#home
{
	top: 20px;
	background-color: #4CAF50;
	font-family: Verdana, Geneva, sans-serif;
}

#history
{
	top: 80px;
	background-color: #2196F3;
	font-family: Verdana, Geneva, sans-serif;
}


#process
{
	top: 140px;
	background-color: #f44336;
	font-family: Verdana, Geneva, sans-serif;
}

#types
{
	top: 200px;
	background-color: #ff7100;
	font-family: Verdana, Geneva, sans-serif;
}
